---
import Placeholder from './Placeholder.astro'
import UserAccount from './UserAccount.vue'

const active = 'Home'
const navigation = [
    { name: 'Home', href: '#home' },
    { name: 'Services', href: '#services' },
    { name: 'Testimonial', href: '#testimonial' },
    { name: 'Team', href: '#team' },
    { name: 'Contact Us', href: '#contactus' },
]
---
<div class="sticky top-0 z-50 flex justify-center py-4">
    <div
        class="navbar flex content-between mx-2 !px-0 sm:mx-4 md:mx-8 !min-h-[36px] rounded-full bg-base-100/90 py-0 shadow-2xl outline outline-base-content/5 backdrop-blur lg:max-w-256">
        <div class="navbar-start pl-2">
            <div class="dropdown">
                <div tabindex={0} role="button" class="btn btn-slim btn-circle btn-ghost lg:hidden ">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-line-join="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16"
                        />
                    </svg>
                </div>
                <ul class="menu dropdown-content menu-md z-[1] mt-3 w-52 gap-2 rounded-box bg-base-100 p-2 shadow">
                    {navigation.map((item, index) => (
                        <li data-key={index}>
                            <a data-name={item.name} href={item.href} class="font-poppins">
                                {item.name}
                            </a>
                        </li>
                    ))}
                </ul>
            </div>
            <a href="/" class="btn btn-slim btn-ghost rounded-full font-poppins text-lg font-semibold">
                inspire3
            </a>
        </div>
        <div class="navbar-center hidden lg:flex">
            {navigation.map((item, index) => (
                <nav data-key={index} class="menu menu-horizontal px-1">
                    <a
                        data-key={item.name}
                        href={item.href}
                        class={`btn btn-slim btn-ghost rounded-full font-poppins text-sm font-light ${
                            active === item.name ? 'bg-base-300' : ''
                        }`}
                    >
                        {item.name}
                    </a>
                </nav>
            ))}
        </div>
        <div class="navbar-end">
            <UserAccount client:only />
        </div>
    </div>
</div>
